# IDEs
.idea/
.vscode/
.metadata/
.nb/
*.iml
.vs*/
 
# OS
.DS_Store
Thumbs.db
Desktop.ini
*~

# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environments
.venv/
venv/
env/
.env

# Uploads and PDFs
uploads/
*.pdf

# Logs
*.log
